.sidebar-sticky {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is short */
    padding-top: 20px;
}

.extra-info {
    background-color: #333333; /* Dark grey */
    color: #ffffff; /* Ensure text is readable on dark backgrounds */
}

#main-container {
    max-width: 100%;  /* Ensures container is always full width */
}

#main-row {
    min-height: 100vh;
}

body {
    background-color: #121212; /* Very dark grey, almost black */
    color: #ffffff; /* White text color for contrast */
}

#left-sidebar, #right-sidebar {
    background-color: #333333; /* Dark grey */
    color: #ffffff; /* Ensure text is readable on dark backgrounds */
    font-size: 25px;
}

#left-sidebar a, #right-sidebar a {
    color: #ffffff; /* White links */
}

#left-sidebar a:hover, #right-sidebar a:hover {
    color: #bbbbbb; /* Lighter grey for hover states */
}

#main-content {
    background-color: #424242; /* Slightly lighter grey than the sidebars */
    color: #ffffff; /* White text for readability */
    padding: 20px; /* Adds spacing inside the main content */
    border-radius: 5px; /* Optional: Rounds the corners */
}

#main-content a {
    color: #4f83cc; /* Light blue link color for better visibility */
}

#main-content a:hover {
    color: #306ba7; /* Darker blue on hover */
}

.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;  /* Adjust width as needed */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background-color: #2c3e50; /* Dark shade of grey */
    border-radius: 8px;
    text-align: center;
}

.login-form .form-group {
    margin-bottom: 20px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.btn-primary {
    width: 100%; /* Makes the button expand the full width of the form */
    padding: 10px;
    border: none;
}

.alert {
    margin-bottom: 20px;
}

.register-link, .login-link {
    margin-top: 20px;
    color: #ffffff; /* Change as needed for visibility */
}

.register-link a, .login-link a {
    color: #3498db; /* A lighter blue for contrast against the dark background */
}

.register-link {
    margin-top: 20px;
    color: #ffffff; /* Change as needed for visibility */
}

.register-link a {
    color: #3498db; /* A lighter blue for contrast against the dark background */
}

.difficulty {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 20px; /* Rounded corners for a button-like appearance */
    background-color: white; /* Blue background, customize per difficulty */
    color: blue;
    text-align: center;
    font-weight: bold;
    margin-right: 20px;
    pointer-events: none; /* Makes it non-interactive */
    user-select: none; /* Prevents text selection */
    width: 100px;
    height: 20px;
}