{% extends "leettracker/layout.html" %}
{% load static %}

{% block javascript %}
<script>
    const randomProblemUrl = "{% url 'random_problem' %}";
</script>
<script src="{% static 'leettracker/index.js' %}"></script>
<script src="{% static 'leettracker/dropdown.js' %}"></script>
{% endblock %}

{% block body %}
<div id="main-content">
    {% if user.is_authenticated %}
        <h1>Welcome to LeetTracker, {{ user.username }}!</h1>
        <button id="random-problem-btn" class="btn btn-primary">Revise a Random Problem!</button>
        <div id="random-problem-display"></div>
    {% else %}
        <h1>Welcome to LeetTracker!</h1>
        <h3>If you are new here, simply register <a href="{% url 'register' %}">here</a> to get started!</h3>
        <h3>Otherwise, simply login <a href="{% url 'login' %}">here</a>!</h3>
        <h3>Happy LeetTracking!</h3>
    {% endif %}
</div>
{% endblock %}