{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}LeetTracker{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'leettracker/styles.css' %}">
</head>

<body>
    <div class="container-fluid" id="main-container">
        <div class="row" id="main-row">
            <!-- Left Sidebar for Navigation -->
            <div class="col-12 col-md-2" id="left-sidebar">
                <h4 class="text-center mt-3">LeetTracker</h4>
                {% if user.is_authenticated %}
                <p class="text-center mt-3">{{ user.username }}</p>
                {% endif %}
                <ul class="nav flex-column">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'myproblems' %}">My Problems</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'selectbytopic' %}">Select By Topic</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'newentry' %}">New Entry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <!-- Main content -->
            <div class="col-12 col-md-8" id="main-content">
                {% block body %}
                {% endblock %}
                {% block javascript %}
                {% endblock %}
            </div>

            <!-- Right Sidebar for Additional Information -->
            <div class="col-12 col-md-2" id="right-sidebar">
                <div class="extra-info">
                    <h4 class="text-center mt-3">Suggested Content</h4>
                    <ul class="nav flex-column break-word">
                        <li class="nav-item">
                            <p>New to Leetcode?</p>
                            <p>Get started with a roadmap designed to help you prepare for technical interviews!</p>
                            <img src="https://miro.medium.com/v2/resize:fit:1400/1*3OzdRa01O0k2tusICxE2mA.jpeg" alt="Roadmap Image">
                            <p><a class="nav-link" href="https://neetcode.io/roadmap" target="_blank">https://neetcode.io/roadmap</a></p>
                        </li>
                        <li class="nav-item">
                            <p>Casual Leetcoder and looking for another challenge?</p>
                            <p>Try out Harvard's CS50's Web Programming with Python and JavaScript!</p>
                            <a href="https://www.youtube.com/watch?v=Nn7EX3zkGUo&list=PLhQjrBD2T380xvFSUmToMMzERZ3qB5Ueu" target="_blank">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYemcurLUKMOlGr0LUeNxUpeN06E2Sz5Yvgw&s" alt="Video Thumbnail">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>