{% extends "leettracker/layout.html" %}
{% load static %}

{% block body %}
<div id="main-content">
    <h1>Saved LeetCode Problems</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Problem Number</th>
                <th>Problem Name</th>
                <th>Topic</th>
                <th>Difficulty</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for problem in problems %}
            <tr>
                <td>{{ problem.problem_number }}</td>
                <td><a href="{% url 'displayproblem' problem.id %}">{{ problem.problem_name }}</a></td>
                <td>{{ problem.topic }}</td>
                <td>{{ problem.difficulty }}</td>
                <td>
                    <!-- Add link to a problem detail page or edit page if needed -->
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No problems have been added yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}