{% extends "leettracker/formbase.html" %}

{% block form_title %}New LeetCode Problem{% endblock %}
{% block form_action %}{% url 'newentry' %}{% endblock %}
{% block problem_name_value %}{% endblock %}
{% block problem_number_value %}{% endblock %}
{% block solution_value %}{% endblock %}
{% block notes_value %}{% endblock %}
{% block topic_value %}{% endblock %}
{% block time_complexity_value %}{% endblock %}
{% block space_complexity_value %}{% endblock %}
{% block problem_link_value %}{% endblock %}
{% block submit_text %}Submit{% endblock %}

