{% extends "leettracker/layout.html" %}
{% load static %}

{% block javascript %}
<script src="{% static 'leettracker/parsetabs.js' %}"></script>
{% endblock %}

{% block body %}
<div id="main-content">
    <form method="post" action="{% url 'newentry' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="problemName">Problem Name *</label>
            <input type="text" class="form-control" id="problemName" name="problem_name" placeholder="Enter Problem Name" required style="background-color: #444; color: white;">
        </div>
        <div class="form-group">
            <label for="problemNumber">Problem Number *</label>
            <input type="number" class="form-control" id="problemNumber" name="problem_number" placeholder="Enter Problem Number" required style="background-color: #444; color: white;">
        </div>
        <div class="form-group">
            <label for="solution">Solution</label>
            <textarea class="form-control" id="solution" name="solution" placeholder="Enter Solution (Optional)" rows="8" style="background-color: #444; color: white; white-space: pre; overflow-x: auto; font-family: 'Courier New', Courier, monospace;"></textarea>
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea class="form-control" id="notes" name="notes" placeholder="Enter Notes (Optional)" rows="3" style="background-color: #444; color: white; white-space: pre; overflow-x: auto;"></textarea>
        </div>
        <div class="form-group">
            <label for="topic">Topic *</label>
            <input type="text" class="form-control" id="topic" name="topic" placeholder="Enter Topic" required style="background-color: #444; color: white;">
        </div>
        <div class="form-group">
            <label for="timeComplexity">Time Complexity</label>
            <input type="text" class="form-control" id="timeComplexity" name="time_complexity" placeholder="Enter Time Complexity (Optional)" style="background-color: #444; color: white;">
        </div>
        <div class="form-group">
            <label for="spaceComplexity">Space Complexity</label>
            <input type="text" class="form-control" id="spaceComplexity" name="space_complexity" placeholder="Enter Space Complexity (Optional)" style="background-color: #444; color: white;">
        </div>
        <div class="form-group">
            <label for="difficulty">Difficulty *</label>
            <select class="form-control" id="difficulty" name="difficulty" style="background-color: #444; color: white; padding: 10px; height: auto;">
                <option value="" disabled selected hidden>Select Difficulty</option>
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
            </select>
        </div>
        <div class="form-group">
            <label for="problemLink">Problem Link *</label>
            <input type="url" class="form-control" id="problemLink" name="problem_link" placeholder="Enter Problem URL" style="background-color: #444; color: white;">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="status" name="status" style="background-color: #444; color: white;">
            <label class="form-check-label" for="status">Problem Solved *</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}

