<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/leettracker/styles.css">
</head>
<body>
    <div id="main-content-displayproblem">
        <!-- Solved/Unsolved Status -->
        <div class="solved-status">
            {% if problem.status %}
            <span class="solved">Solved <span>✔</span></span>
            {% else %}
            <span class="unsolved">Unsolved <span>✘</span></span>
            {% endif %}
        </div>

        <h1>{{ problem.problem_number }}. {{ problem.problem_name }}</h1>
        <div class="difficulty">
            {% if problem.get_difficulty_display == "Easy" %}
            <span class="easy">{{ problem.get_difficulty_display }}</span>
            {% elif problem.get_difficulty_display == "Medium" %}
            <span class="medium">{{ problem.get_difficulty_display }}</span>
            {% elif problem.get_difficulty_display == "Hard" %}
            <span class="hard">{{ problem.get_difficulty_display }}</span>
            {% endif %}
        </div>

        <div id="topics-dropdown-box" class="dropdown">
            <span>Topics &#9660;</span>
            <div id="topics-dropdown-content" class="dropdown-content">
                {% for topic in problem.topics.all %}
                <a href="{% url 'problemsbytopic' topic.id %}" class="tag" id="tag-displayproblem">{{ topic.name }}</a>
                {% endfor %}
            </div>
        </div>

        <p><a href="{{ problem.problem_link }}" target="_blank" class="problem-link"><strong>Link to Problem</strong></a></p>
        
        <h2>Solution</h2>
        <pre class="solution">{{ problem.solution }}</pre>
        
        {% if problem.notes %}
        <h2>Notes</h2>
        <pre class="notes">{{ problem.notes }}</pre>
        {% endif %}
        
        <h2>Complexity</h2>
        <div class="complexity">
            <p><strong>Time Complexity:</strong> {{ problem.time_complexity }}</p>
            <p><strong>Space Complexity:</strong> {{ problem.space_complexity }}</p>
        </div>
    </div>
</body>
</html>